{% extends 'core/base.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/password_reset.css' %}" />
{% endblock %}

{% block content %}
  <div class="form_input">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Восстановить</button>
      </form>
  </div>
{% endblock %}