{% extends "core/base.html" %}
{% load staticfiles %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/addstory.css' %}" />
{% endblock %}

{% block content %}
     <div class="container">
         <form method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Добавить историю" />
        </form>
    </div>


{% endblock %}

