{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Life Stories</title>
{#    css#}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}" />

{#    js#}
    <script src="{% static "js/jquery-3.1.1.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/bootstrap.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/menu.js" %}" type="text/javascript"></script>

    {% block head %}
    {% endblock %}
</head>
<body>
    <div id="main">
            {#    menu#}
        {% include 'core/menu.html' %}

    {#    content#}
    <div id="block_content">
        {% block content %}
        {% endblock %}
    </div>


    {#    footer#}
{#        {% include 'core/footer.html' %}#}
    </div>


</body>