{% extends "core/base.html" %}
{% load staticfiles %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
    <script src="{% static "js/index.js" %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div class="container">
{#        <div class="row">#}
            <table>
                {% for story in stories %}
                    {% if forloop.counter|slugify in 147|make_list %}
                        <tr> </tr>
                    {% endif %}
                      <td>
                       <a class="read_more" href="{% url 'readstory' id=story.id %} ">
                           <h2> {{ story.getshorttext }} </h2>
                       </a>

                        <span class="count_likes">
                            <span>{{ story.likes.count }}</span>
                            <a title="Мне нравится"><img width="32" class="likes" alt="{{ story.id }}"
                                                         src="{% static 'images/32px-Love_Heart_SVG.svg.png' %}"/></a>
                        </span>

                        <span class="count_comments">комментариев: {{ story.count_comment }}</span>

                         {% if story.user == user%}
                            <a class="delete_story" id="story_{{ story.id }}" href="#">Удалить</a>
                         {% endif %}

                      <span class="date_public">{{ story.date|date:'d-m-y H:i' }}</span>
                      </td>
                {% endfor %}
            </table>
{#        </div>#}
        <div class="pagination">
            <span class="step-links">
                {% if stories.has_previous %}
                    <a class="page_follow" href="?page={{ stories.previous_page_number }}">Назад</a>
                {% endif %}

                <span class="current">
                    Страница {{ stories.number }} из {{ stories.paginator.num_pages }}.
                </span>

                {% if stories.has_next %}
                    <a class="page_follow" href="?page={{ stories.next_page_number }}">Вперед</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}

