{% extends "core/base.html" %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
{% endblock %}

{% block content %}
    <div id="login">
      <h2>Авторизация</h2>
      <form  method="post">
        {% csrf_token %}
        {{ form|linebreaks }}
        <input id="submit" type="submit" value="Войти" />
        <a id="reset_password" href="{% url 'password_reset' %}">Забыли пароль?</a>
      </form>
    </div>
{% endblock %}

