{% load staticfiles %}

<div class="row" id="head" >
      <div id="the_name">Life Stories</div>
      <div class="menu">
         <ul>
          <li><a href="{% url 'index' %}">Главная</a></li>
          <li>   <a href="{% url 'addstory' %}">Добавить свою историю</a> </li>
          <li><a href="#">О сайте</a></li>
         {% if user.is_authenticated%}
             <li class="dropdown">
                 <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{ user.username  }}
                    <b class="caret"></b>
                 </a>
                <ul class="dropdown-menu">
                  <li><a class='submenu' href="{% url 'change_pass' %}">Сменить пароль</a></li>
{#                  <li><a class='submenu' href="#">Текст подпункта</a></li>#}
                </ul>
             </li>

             <li><a href="{% url 'logout' %}">Выйти</a></li>
         {% else %}
             <li><a href="{% url 'login' %}">Войти</a></li>
             <li><a href="{% url 'registration' %}">Регистрация</a></li>
         {% endif %}


        </ul>
      </div>
</div>