{% extends "core/base.html" %}
{% load staticfiles %}

{% block head %}

{% endblock %}

{% block content %}
   <h2>Новая игра</h2>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" />
    </form>
{% endblock %}

