{% extends "core/base.html" %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}" />
{% endblock %}

{% block content %}
  <div id="registration">
    <form method="post">
        {% csrf_token %}
        {{ form|linebreaks}}
        <input id="submit" type="submit" value="Зарегистрировать" />
    </form>
  </div>
{% endblock %}

