{% extends "core/base.html" %}
{% load staticfiles %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/story.css' %}" />
    <script src="{% static "js/readstory.js" %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
     <div class="container">
        <h3 id="story" data-id="{{ story.id }}">{{ story.text }}</h3>
{#        comments#}
        <div id="comments">
              {% for comment in comments %}
            <div class="data-comment">
                <span class="data-text"> {{ comment.text }}   </span>
                <span class="data-date"> {{ comment.date|date:'d-m-y H:i' }}  </span>

               {% if comment.user == user%}
                 <a href="#" class="delete_comment" id="comment_{{ comment.id }}">Удалить</a>
               {% endif %}
            </div>
        {% endfor %}
        </div>
     {#        add comment#}
        <div id="newcomment">
            <textarea id="text_newcomment" rows="10" cols="45"></textarea>
            <button id='add_comment' disabled="disabled" onclick="NewComment()">Добавить комментарий</button>
        </div>
    </div>


{% endblock %}

