textarea{
    width: 100%;
    height: 800px;
    font-size: 30px;
    background-color: lightpink;
    border-radius: 20px 20px 20px 20px;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 2%;
}

input{
    border-radius: 20px 20px 20px 20px;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 30%;
    height: 50px;
    font-size: 30px;
    color: brown;
    background-color: #d2c0ff;
}



