@font-face {
    font-family: 'Pacifico-Regular';
    src: url('../font/Pacifico-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

#block_content{
    /*background-image: url('../images/background.png');*/
    /*background-repeat: no-repeat;*/
    /*background-position: top;*/
    /*background-size: cover;*/
}

body{
    background-image: url('../images/background1.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

#head{
    /*background-color: lightcyan;*/
    width:80%;
    margin-left: 10%;
}

#logo{
     margin: 10px 15px 10px 20px;
}

.contact{
    margin: 30px 15px 100px 20px;
    font-size: 20px;
    width:100%;
}

.menu ul {
    list-style-type: none;
    width:95%;
    float: left;
    /*margin-top: 25px;*/
    padding-right: 20%;
}

.menu > ul li{
    display: inline;
    margin-left: 10px;
    font-size: 20px;
    padding-left: 20px;
}

.menu{
    margin: 30px 15px 10px 20px;
    text-align: right;
    display: inline;
}

footer{
    font-size: 25px;
    background-color: bisque;
    height:50px;
    vertical-align: middle;
    text-align: center;
}

#main{
    width: 100%;
}

#block_content{
    min-height: 1000px;
}

.menu > ul li a{
    color: yellow;
    font-style: italic;
    font-size: 25px;
}

#the_name{
    color: floralwhite;
    /*font-style: italic;*/
    font-size: 100px;
    font-family: Pacifico-Regular;
    margin-left: 30%;
}
