.headertext_wrapper {
    left: -270px;
    margin-left: -400px;
    margin-right: -200px;
    margin-bottom: 200px;
}

.container{
    width: 80%;
    margin-left: 10%;
    /*background-color: #8a8a8a;*/
}

.subtext{
    font-size: 25px;
    display: inline-block;
}

.welcome{
    margin-top: 20px;
}

.subwelcome{
    margin-top: 10px;
}

.col-welcome{
    padding-left: 5px;
    padding-right: 5px;
}

.banner{
    display: block;
    /*color: #fff;*/
    font-size: 19px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

.banner time {
    z-index: 5;
    display: block;
    padding: 5px 12px 7px;
    position: absolute;
    left: 10px;
    top: 20px;
}

.actions_game{
    font-size: 25px;
}

.content{
    /*color: lightgoldenrodyellow;*/
}

.actions_news{
    margin-bottom: 400px;
}

td, th{
    padding: 1%;
    width: 30%;
}

h2{
    background-color: lightpink;
    border-radius: 20px 20px 20px 20px;
    padding: 4px 0 0 8px;
    color: black;
    font-size: 20px;
    height: 200px;
}

h2:hover{
    border: 2px solid #ff83fc;
}

.delete_story{
    font-size: 15px;
    color: darkred;
    margin-left: 2px;
}

.delete_story:hover{
    color: darkred;
}

.read_more:hover{
    text-decoration: none;
}

/*td > span{*/
    /*color: bisque;*/
    /*font-size: 15px;*/
/*}*/

.current{
    font-size: 20px;
    color: honeydew;
}

.page_follow{
    font-size: 20px;
    color: mediumslateblue;
}

.date_public{
    float: right;
    color: bisque;
    font-size: 15px;
    margin-top: 4px;
}

.count_comments, .count_likes{
    font-size: 20px;
    color: ghostwhite;
}

.count_comments{
    margin-left: 3%;
}

/*heart*/
.likes:hover{
    cursor: pointer;
    background-image: url('../images/32px-Love_Heart_SVG.svg_1.png');
}
