#login{
    margin-left: 30%;
    margin-top: 3%;
    font-size: 25px;
    color: antiquewhite;
}

input{
    border-radius: 20px 20px 20px 20px;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 30%;
    height: 50px;
    font-size: 30px;
    padding: 3px;
    margin-top: 20px;
    margin-left: 10px;
    color: brown;
}

#submit{
    background-color: #d2c0ff;
    width: 10%;
}

#id_username{
    margin-left: 30px;
}

#reset_password{
    color: yellow;
    font-style: italic;
    font-size: 30px;
}