h3{
    border-radius: 20px 20px 20px 20px;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 3px;
    margin-top: 20px;
    margin-left: 10px;
    color: antiquewhite;
}

#text_newcomment{
    width: 100%;
    height: 300px;
    font-size: 30px;
    background-color: lightpink;
    border-radius: 20px 20px 20px 20px;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 2%;
}

input, button{
    border-radius: 20px 20px 20px 20px;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 30%;
    height: 50px;
    font-size: 30px;
    color: brown;
    background-color: #d2c0ff;
}

.data-comment{
    font-size: 20px;
    color: #ffea6d;
    margin-left: 1%;
    word-break: break-all;
}

.data-comment > .data-date{
    font-size: 14px;
    font-style: italic;
    margin-left: 1%;
}

.delete_comment{
    margin-left: 1%;
    color: darkred;
}

.delete_comment:focus, .delete_comment:hover {
    text-decoration: none;
    color: darkred;
}
